## Control Structures ##

In [13]:
#1. Conditional Statements
#Conditional statements allow you to execute certain blocks of code depending on whether a condition is true or false.

#  A) if statement: Used to test a condition and execute code if the condition is true
#Syntax:
#if condition:
    # Code to execute if condition is True

#  B) elif (else if) statement: Used to test another condition if the previous if condition is false.
#Syntax:
#if condition1:
    # Code to execute if condition1 is True
#elif condition2:
    # Code to execute if condition2 is True

#  C) else statement: Executes a block of code if none of the preceding conditions are true.
#Syntax:
#if condition:
    # Code to execute if condition is True
#else:
    # Code to execute if condition is False

In [3]:
#The If-Else Construct
#What is the output of the following code?

#X = 12

#if (X > 10 & X < 15):
#print('YES')
#else:
#print('No')

X = 12
if (X > 10 & X < 15):
print('YES')
else:
print('No')

#Error
#Indentation is very important in Python, and the code above throws an error saying expected indented block.
to correct this.. 

X = 12
if (X > 10 & X < 15):
 print('YES')
else:
 print('No')
    # output: YEs

YES

In [ ]:
#Maximum of Three Numbers
#Complete the piece of code to print a maximum of three variables, a, b and c.

#a=10
#b=16
#c=20

#if( # missing part 1 # ):
    #print("a")
#elif( # missing part 2 #):
   # print("b")
#else:
     print("c")


#Missing Part 1: a > b and a > c           

#Missing Part 2: b > a and b > c
#In the first step of the if-statement, if you have observed a, it is being printed which means the condition should check whether a is highest among the three 
#i.e both a>b and a>c under if condition has to be true. In order to join these two conditions, you need to use a logical and operator since you want both the conditions to be true. 
#Similarly in the second condition, you want b to be printed; so, the condition to this would b > c and b > a.

In [ ]:
#Reverse Engineering
#Which of the following sequences of inputs would give the output 'C' 'A' 'D' 'B' over multiple iterations?

Given the code below, the output obtained in several runs is 'C' 'A' 'D' 'B'.
if score >= 90:
   print('A')
elif score >=80:
   print('B')
elif score >= 70:
   print('C')
elif score >= 60:
   print('D')
else:
   print('F')

#Output: 70, 91, 67, 88

In [5]:
#Can You Guess the Output?
#What will the following segment of code print? Try doing this verbally.

if (10 < 0) and (0 < -10):
    print("A")
elif (10 > 0) or False:
    print("B")
else:
    print("C")
# B
#10 > 0 returns True. True or False is True. Hence, 'B' gets printed.

B

In [7]:
#A Search for the Truth
#What will the following segment of code print? Try solving it verbally.if True or True:
    if False and True or False:
        print('A')
    elif False and False or True and True:
        print('B')
    else:
        print('C')
else:
    print('D')

#B
#T or T will be a T. The code will return the value that satisfies these statements. A will be returned for an F, 
#as (F and T) = F, (F or F) = F. B will be returned for a T, as (F and F) = F, (T and T) = T, (F or T) = T.

B

In [21]:
#Description
#Write a code to check if the string in input_str starts with a vowel or not. Print capital YES or NO.
#For example, if input_str = 'analytics' then, your output should print 'YES'.
#Sample Input:
#alpha
#Sample Output:
#YES

import ast,sys
#input_str = sys.stdin.read()
input_str = input()
if input_str[0] == 'a' or input_str[0] == 'e' or input_str[0] == 'i' or input_str[0] == 'o' or input_str[0] == 'u' or input_str[0] == 'A' or input_str[0] == 'E' or input_str[0] == 'I' or input_str[0] == 'O' or input_str[0] == 'U': 
   print("YES")
else:
   print("NO")

 Ashwini

YES

 Ashwini

YES

<b>LOOPS AND ITERATIONS</b>

In [ ]:
While Loop

In [27]:
pin = input("Enter your four digit pin: ")
while pin != '1234':                           #Pre-set pin is 1234
    pin = input('Invalid input, please try again: ')  
print("Pin validation successful.")

Enter your four digit pin:  1234

Pin validation successful.

In [29]:
# Now if we want to add a maximum number of tries allowed we'll add an 'if loop'

import sys    #required for exiting the code and displaying an error

pin = input("Enter your four digit pin: ")
attempt_count = 1
while pin != '1234':
    if attempt_count >= 3:
     sys.exit("Too many invalid attempts")   #error code
    pin = input('Invalid input, please try again: ')  
    attempt_count += 1
print("Pin validation successful.")

Enter your four digit pin:  1234

Pin validation successful.

In [ ]:
'For loop' Control Structure:

In [35]:
string = "NEW YORK"
for val in string :
   print(val)

N
E
W

Y
O
R
K

In [37]:
string = "NEW YORK"
for val in string :
   print(val, ":")

N :
E :
W :
  :
Y :
O :
R :
K :

In [41]:
string = "NEW YORK"
for val in string :
   print(val, end = ":")

N:E:W: :Y:O:R:K:

In [43]:
sys.version_info

sys.version_info(major=3, minor=12, micro=4, releaselevel='final', serial=0)

In [88]:
L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10]
L3 = []

for i in L3:
    L3.append(L1[i] - L2[i])
    print(L3)

In [98]:
zen = '''Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
'''
for char  in zen:
   if char in 'aeiou':
      print (char, end='')

SyntaxError: invalid syntax (1770463141.py, line 6)

In [112]:
numbers = (34,54,67,21,78,97,45,44,80,19)
total = 0
for num in numbers:
   total += num
print(total)

539

In [108]:
numbers = (34,54,67,21,78,97,45,44,80,19)
total = 0
for num in numbers:
   total += num
print (total)

539

In [114]:
#The for loop traverses a list containing integers and prints only those which are divisible by 2.
numbers = [34,54,67,21,78,97,45,44,80,19]
for num in numbers:
    if num%2 == 0:
        print(num)

34
54
78
44
80

In [118]:
#For loop to iterate between 10 to 20
for num in range(10, 20):  
   #For loop to iterate on the factors 
   for i in range(2,num): 
      #If statement to determine the first factor
      if num%i == 0:      
         #To calculate the second factor
         j=num/i          
         print ("%d = %d * %d" % (num,i,j))
         #To move to the next number
         break 
      else:                  
         print (num, "is a prime number")
         break

10 = 2 * 5
11 is a prime number
12 = 2 * 6
13 is a prime number
14 = 2 * 7
15 is a prime number
16 = 2 * 8
17 is a prime number
18 = 2 * 9
19 is a prime number

<b>NOTE:</b>

range(n): This creates a range object that has elements from 0 to n-1 [ both inclusive].

range(m,n): This creates a range object that has elements from m to n-1 [both inclusive].

range(m,n,t): This creates a range object that has elements from m to n-1 with a step count of t. 
In other words, the range object has elements m, m+t, m+2t…so on. If t is negative, 
the elements would be decreasing, and that’s exactly what happens in the range (100, 0, -1).

In [157]:
#Complete the Code
#Complete this piece of code for calculating the element-wise difference between two lists and storing them in L3.

#[Assume that the lists are of the same length.]

L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10]
L3=[]
for  i in range(len(L2)):
    append(L2[i] -L1[i])
     

    #L3.append(L1[i] -L2[i])
    
  
                                   
print(L3)

NameError: name 'append' is not defined

In [191]:
#Iterations
#Description
#You are given a list of string elements and asked to return a list which contains each element of the string in
#title case or in other words first character of the string would be in upper case and remaining all characters in lower case
#Sample Input:
#['VARMA', 'raj', 'Gupta', 'SaNdeeP']
#Sample Output
#['Varma', 'Raj', 'Gupta', 'Sandeep']
import ast,sys
input_str = sys.stdin.read()
 = ast.literal_eval(input_str)
l3 = []
for element in input_list:
   l3 = input_list.append(element.capitalize())
print(l3)

IndentationError: unexpected indent (3770006111.py, line 11)

In [486]:
import ast
import sys
l3 = []
# Read the input string and parse it as a Python literal (e.g., a list)
input_str =  sys.stdin.read()
input_list = ast.literal_eval(input_str)
# Initialize an empty list to store capitalized strings
# Loop over each element in the input list
for e in input_list:
    l3 = e.capitalize()
    # Capitalize the current element and append it to l3
    #l3.append(element.capitalize())
# Print the final list of capitalized strings
print(l3)

SyntaxError: invalid syntax (<unknown>, line 0)

In [221]:
#prime no's from 1 to 20
range1 = input("enter a range")
for n in range(2,20):
    flag = True
    for i in range(2,n):
        if n%i == 0:
            print(n, "is not a prime no")
            flag = False
            break
    if flag == True:
        print(n)

enter a range 20

2
3
4 is not a prime no
5
6 is not a prime no
7
8 is not a prime no
9 is not a prime no
10 is not a prime no
11
12 is not a prime no
13
14 is not a prime no
15 is not a prime no
16 is not a prime no
17
18 is not a prime no
19

In [229]:
l = []
for i in range(-100, 0):
    if(i % 2 == 0):
        l.append(i)
l

[-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2]

In [231]:

list(range(0, -101, 2))

[]

In [233]:

list(range(-100, -1, 2))

[-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2]

In [235]:

sorted(set(range(-2, -101, -2)))

[-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2]

In [ ]:
What's with all the Negativity?
Which of the following would create a list of negative even numbers from -100 to 0 (-100 included and 0 not included)?
[More than one option may be correct.]

1. sorted(set(range(-2, -101, -2)))
The range function, range(-2,-101) would create an empty list, as the start value is greater than the end value.
Instead, here the inclusion of the third parameter step plays an important role. 
Since the value specified is -2 it means to consider starting value as -2 and decrease value by 2 each time. 
This would return elements as -2, -4,-6….-100. Applying a set function would create a set of the range objects.
But applying an in-built sorted function on this set would return a sorted list, i.e., -100, -98,-96…..

 

2. list(range(-100, -1, 2))
The range function here creates elements from -100 with an increase in value by 2, as the step count of 2 is passed as a third argument.

3. 
l = []
for i in range(-100, 0):
    if(i % 2 == 0):
        l.append(i)
l
                                                                                 
4.
In this given code snippet, you are basically taking an empty list l. 
Then, first by iterating a for loop over elements in range object which has elements from -100 to 0, 
then checking if an element is even or not and if i is even you are appending to list L.
At the end of completion of the list the list would have all the negative even elements from -100 to 0.
This is exactly what we need.

In [237]:
#Of Fish, Birds, and Mammals
#Using the following document, answer the following questions. What will the output of the following code be?
 
d = {0: 'Fish', 1: 'Bird', 2: 'Mammal'}
for i in d:
    print(i)

# By default, the iteration is over the keys.

0
1
2

<b>Comprehensions</b>
# syntax -- > [<3.output expression> <1.loop> <2.condition>]
# syntax -- > [<3.output> <2.if condition> else <else res> <1.loop> ]

In [244]:
Comprehensions are syntactic constructs that enable sequences to be built from other sequences in a clear and concise manner. 
Here, we will cover list comprehensions, dictionary- comprehensions and set comprehensions.

SyntaxError: invalid syntax (4267998451.py, line 1)

<b>List Comprehensions</b>

In [249]:
l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]
l2 = []
for i in l1:
    l2.append(len(i))
print(l2)

[11, 5, 4, 6, 14]

In [255]:
l3 = [len(i) for i in l1]
print(l3)

[11, 5, 4, 6, 14]

In [ ]:
Comprehensions

In [307]:
#Exercise 1: Squares of Even Numbers
l1 = [1, 2, 3, 4, 5]
l2 = [x**2 for x in l1 ]
l2

SyntaxError: invalid syntax (2438648007.py, line 3)

In [277]:
#First Letter of Each Word"
word = ["apple", "banana", "cherry", "date", "elderberry"]
letter = [ i[0] for i in word]
print(letter)

['a', 'b', 'c', 'd', 'e']

In [275]:
words = ["apple", "banana", "cherry", "date", "elderberry"]
first_letters = [word[0] for word in words]
print(first_letters)

['a', 'b', 'c', 'd', 'e']

In [295]:
#Multiples of 3 and 5
x=15
y=10
product = [Expression for loop(iteration) condition
product = [x for x in range(1,100)  if x%3 == 0 and x%5 == 0]  
print(product)

[15, 30, 45, 60, 75, 90]

In [ ]:
#Filter Words by Length
words = ["apple", "banana", "cherry", "date", "fig", "grape"]

In [305]:
#Convert Temperature from Celsius to Fahrenheit
#F = C×(9/5)+32
celsius = [0, 10, 20, 30, 40, 100]
faren = [ x * (9/5) + 32 for x in celsius]
print(faren)

[32.0, 50.0, 68.0, 86.0, 104.0, 212.0]

In [321]:
#Extract Digits from a String
import ast, sys
text = "a1b2c3d4e5"
digits = [int(i) for i in text if i.isdigit()]
#digits = [int(char) for char in text if char.isdigit()]
print(digits)

[1, 2, 3, 4, 5]

In [335]:
#Given a list of integers, create a new list where each even number is doubled and odd numbers are left unchanged.
numbers = [1, 2, 3, 4, 5, 6]
filtered_modified = [i * 2 if i % 2 == 0 else i for i in numbers]
print(filtered_modified)

[1, 4, 3, 8, 5, 12]

In [351]:
#Convert Strings to Uppercase
words = ["hello", "world", "python", "is", "awesome"]
uppercase = [i.upper() for i in words ]
print(uppercase)

['HELLO', 'WORLD', 'PYTHON', 'IS', 'AWESOME']

In [387]:
 #Extract Vowels from a String
text = "List comprehensions are powerful"
#vowels = [char for char in text if char in 'aeiouAEIOU']
vowel = [i for i in text if i in 'aeiouAEIOU']
print(vowel)


#'a' or 'i' or 'e' or 'o' or 'u'

['i', 'o', 'e', 'e', 'i', 'o', 'a', 'e', 'o', 'e', 'u']

In [401]:
#Find Palindromes in a List
words = ["racecar", "hello", "level", "world", "radar", "python"]
palindrome = [char for char in words if char == char[::-1]]
print(palindrome)
#print(char)

['racecar', 'level', 'radar']

In [409]:
#Remove Non-Alphabetic Characters from a String
text = "Hello, World! 123"
non_alpha = [char for char in text if char.isalpha()]
print(non_alpha)

['H', 'e', 'l', 'l', 'o', 'W', 'o', 'r', 'l', 'd']

In [425]:
#Calculate Factorials
#Create a list of factorials for numbers from 1 to 5.
import ast,sys
import math
#fact1 = [for i in range(1,100) fact = fact*i]
fact1 = [ math.factorial(i) for i in range(1,5)]
print(fact1)

[1, 2, 6, 24]

In [427]:
 #Filter Positive Numbers
numbers = [-10, -5, 0, 5, 10, 15]
positive = [num for num in numbers if num >= 0]
print(positive)

[0, 5, 10, 15]

In [437]:
#Create a List of Even Numbers from 2 Lists
#Given two lists of integers, create a new list that contains only the even numbers from both lists.
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]
list5 = [num for num in list1 + list2 if num%2 == 0]
#list3 = [num for num in list1 if num%2 == 0]
#list4 = [num for num in list2 if num%2 == 0]
#list5 = list3 + list4
print(list5)

[2, 4, 6, 8, 10]

In [443]:
#Remove Spaces from a String
#Given a string, create a list of characters from the string excluding any spaces.
text = "List comprehensions are cool"
spaces = [char for char in text if char != " "]
print(spaces)

['L', 'i', 's', 't', 'c', 'o', 'm', 'p', 'r', 'e', 'h', 'e', 'n', 's', 'i', 'o', 'n', 's', 'a', 'r', 'e', 'c', 'o', 'o', 'l']

In [447]:
#Sum of Digits in a List
#Given a list of numbers, create a new list containing the sum of the digits of each number.
numbers = [123, 456, 789]
sum_digits = [num for num in numbers num[i].sum()]
print(sum_digits)

SyntaxError: invalid syntax (1307679168.py, line 4)

In [449]:
#Calculate the Length of Each Word in a List
#Given a list of words, create a new list containing the length of each
words = ["apple", "banana", "cherry"]
length_of_each_list = [int(len(char)) for char in words]
print(length_of_each_list)

[5, 6, 6]

In [455]:
# cube of all even numbers from range 5,11

#cube = [num**3 for num in range(5,11)]
#print(cube)
print([num**3 for num in range(5,11)])

[125, 216, 343, 512, 729, 1000]

In [468]:
# print even and odd based on condition(1,11)
even = ["EVEN" if num%2 == 0  else "ODD" for num in range(1,11)]
print(even)

['ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN']

In [478]:
# pass or fail
marks = [23,56,76,12,90]
result = ["PASS" if num >= 35 else "FAIL" for num in marks]
print(result)

['FAIL', 'PASS', 'PASS', 'FAIL', 'PASS']

In [480]:
# nested if else
digits = [0,34,-23,67,20,0,-5]
result = ["POSITIVE" if num>=0 else "NEGETIVE" for num in digits]
print(result)

['POSITIVE', 'POSITIVE', 'NEGETIVE', 'POSITIVE', 'POSITIVE', 'POSITIVE', 'NEGETIVE']

In [482]:
fruits = ['apple','cherry','strawberry','orange']
[f.capitalize()    for f in fruits]

['Apple', 'Cherry', 'Strawberry', 'Orange']

In [508]:
#List Comprehension
#Description
#You are given an integer 'n' as the input. Create a list comprehension containing the squares of the integers from 1 till n^2 (including 1 and n), and print the list. 
#For example, if the input is 4, the output should be a list as follows:
[1, 4, 9, 16]
#The input integer 'n' is stored in the variable 'n'. 

integers = 5
square = [n**2 for n in range(1,integers+1)]
print(square)

[1, 4, 9, 16, 25]

In [526]:
#List Comprehensions
#Description
#Extract the words that start with a vowel from a list input_list=[wood, old, apple, big, item, euphoria] using list comprehensions.
#Sample Input:
#['wood','old','apple','big','item','euphoria']
#Sample Output:
#﻿['old', 'apple', 'item', 'euphoria']
input_list=['wood','old','apple','big','item','euphoria']
print([word for word in input_list if word[0] in 'aeiou'])
#print(vowels)

['old', 'apple', 'item', 'euphoria']

In [528]:
input_list = list(range(1,100))
output_dict = {}

for val in input_list:
    if val % 3 == 0:
        output_dict[val] = val**3
print(output_dict)

In [542]:
input_list = list(range(1,100))
output_dict =  {val : val**3 for var in input_list if val % 3 == 0}
print(output_dict)

{99: 970299}

In [544]:
#List Comprehension
#What will the output of the following code be?

print([i+j for i in "abc" for j in "def"])

['ad', 'ae', 'af', 'bd', 'be', 'bf', 'cd', 'ce', 'cf']

In [546]:
#Dictionary Comprehension
#What will the output of the following code be?

d = {x.upper(): x*3 for x in 'acbd'}
print(d)

{'A': 'aaa', 'C': 'ccc', 'B': 'bbb', 'D': 'ddd'}

In [552]:
def fun(a,b):
    return(a+b)*(a-b)
fun(2,3)

-5

In [554]:
def add(a,b):
    return(a+b)
add(5,6)

11

In [562]:
def operation(a,b):
 a = a**2
 b = b**2
 c =(a+b)/2
 return c

operation(4,6)

26.0

In [568]:
def func(name, age):
 print("Name: ",name)
 print("Age:", age)

func("Ashu", 30)

Name:  Ashu
Age: 30

In [580]:
def func(name, age = 35, city = "New York"):
    print("name : ", name)
    print("age : ", age)
    print("city : ", city)

func(name = "Ashwini")

name :  Ashwini
age :  35
city :  New York

Lambda Function

In [605]:
# Write a lambda function to check a number is even or odd
x = lambda i: "EVEN" if i % 2 == 0 else "ODD"
x(10)

'EVEN'

In [623]:
x= ["EVEN" if i % 2 == 0  else "ODD" for i in range(1,10)]

In [619]:
x = ["EVEN" if i % 2 == 0 else "ODD" for i in range(1, 10)]
print(x)

['ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD']

In [631]:
#Function
#Description
#Create a function squared(), which takes x and y as arguments and returns the x**y value. 
#For e.g., if x = 2 and y = 3 , then the output is 8.
def squared(x,y):
    return(x**y)
squared(2,3)

8

In [635]:
##To Err is Human
#Identify the error/errors in the given code to apply the function 
#(x∗y+x+y)on x,y and finally return the value.

def func(x, y):
    z = x * y + x + y

func(2)
#(More than one option may be correct.)

TypeError: func() missing 1 required positional argument: 'y'

In [643]:
#Lambda
#Description
#Create a lambda function 'greater', which takes two arguments x and y and return x if x>y otherwise y.
#If x = 2 and y= 3, then the output should be 3.
#Sample Input:
#['9','3']
#Sample Output:
#﻿9

a = lambda x,y: x if x>y else y
a(2,3)

3

In [649]:
#Lambdas
#What is the output of this program?

min = (lambda x, y: x if x < y else y)
min(101*99, 102*98)

9996
#The min function here returns the minimum of two values passed as arguments to the function. 
#So passing 101*99 and 102*98 would return 102*98, in other words, 9996.

9996

In [651]:
#Function Call for a Function Call
#What would be the output of the following code?

def func(x, y = 1):
    z = x * y + x + y
    return z

func(2, func(3))
#There is no error in the piece of code above; it successfully executes. The function call f(2,f(3)) has two parts. 
First, the function call f(3), which involves a single argument, works fine because one of the two parameters used in a function definition is a default parameter. 
Second, the value obtained from f(3), which is 7, would become the second parameter in the function call, and this value updates the default value of y from 1 to 7.

23

In [653]:
#Function Call for a Function Call - II
#What would be the output of the following code?

def func(x, y):
    z = x * y + x + y
    return z

func(2, func(3))
#ERROR
#An error is thrown on executing the given piece of code.
#In the function definition, both x and y are required parameters. 
#So, the function call would throw an error if only one argument is given.
#Here, f(3) is taking only one argument; so, this leads to an error.

TypeError: func() missing 1 required positional argument: 'y'

In [655]:
def func(x = 1 ,y = 2):
    z = x * y + x + y
    return z

func(2, func(3))
#In the function definition, both x and y are assigned a default value of 1 and 2, respectively. 
#Now, during the function call, if two values are passed as arguments, 
#the values of x and y will be updated as per the argument values and as used in the function. 
#The tricky part would be when you pass a single argument; 
#this argument will be assigned to the parameter that comes first in the definition.
#fun(3) would assign 3 as the value of x, and y remains with the same default value, and the function returns 3 * 2+ 3+2 = 11.
#func(2,func(3)) would assign 2 as the value of x and 11 as the value of y. 
#So now, the function execution would be as shown below:
#2 * 11 + 11 +2
#While passing the arguments, you may want to maintain the value of x as the default but update the value of y to 3 and then use the concept of keyword argument. f(y=3) would keep the value of x as 1  but would update the value of y to 3.

35

In [659]:
#Function Parameters
#Functions can be used inside a list comprehension too. An example to create a list, 
#the elements of which would be the result of applying the function x2−2x−2  on each element in
#the list = [2, 7, 8, 10, 3] is shown below:
L1 = [2, 7, 8, 10, 3]

def func(y):
    return (x**2) , 

ans_list = [func(x) for  x in L1]
ans_list

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

<b>MAP_REDUCE_FILTER</b>

In [ ]:
The map, filter and reduce methods, that offer us sophisticated and faster method implementation.
Starting with Map, Map is a function that works like list comprehensions and for loops.

The syntax of the map function looks as shown below:

map(function,iterable object)

The function here can be a lambda function or a function object.
The iterable object can be a string, list, tuple, set or dictionary.

In [667]:
list_numbers = [1,2,3,4,5,6,7,8,9]
sample =list(map(lambda x: x**2, list_numbers))
print(sample)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [691]:
list1 = [1,2,3,4,5,6,7]
def squareit(a):
   c = a**2
   return c
    
print(list(map(squareit, list1)))

[1, 4, 9, 16, 25, 36, 49]

In [669]:
list_numbers = (1,2,3,4)
sample_map = map(lambda x: x*2, list_numbers)
print(list(sample_map))

[2, 4, 6, 8]

In [ ]:
'Filter' is similar to map function, only distinguishing feature being that it requires the function to look 
for a condition and then returns only those elements from the collection that satisfy the condition.
The syntax of the filter function looks as shown below:

filter(function,iterable object)

The function object passed to the filter function should always return a boolean value.
The iterable object can be a string, list, tuple, set or dictionary.

In [675]:
students_data = {1:['Sam', 15] , 2:['Rob',18], 3:['Kyle', 16], 4:['Cornor',19], 5:['Trump',20]}

data = list(filter(lambda x : x[i] > 18, students_data.values()))

TypeError: 'list' object is not callable