## Python DataStructures ##

In [ ]:
Python provides several built-in data structures to efficiently store and manipulate data.

In [6]:
#Python provides several built-in data structures to efficiently store and manipulate data. Here's an overview of the most commonly used ones:

#1. Lists
# A list in Python is a versatile, ordered, and mutable data structure that can store a collection of items of any data type.
#Description: Ordered, mutable (changeable) collections of items. Items can be of different types.
#Syntax: my_list = [1, 2, 3, "apple", 5.6]
#Key Features:
#Indexing and slicing supported (my_list[0], my_list[1:3]).
#Methods: append(), extend(), insert(), remove(), pop(), sort(), etc.


#2. Tuples
# A tuple is an immutable and ordered collection of items in Python.
#Description: Ordered, immutable collections of items.
#Syntax: my_tuple = (1, 2, 3, "banana")
#Key Features:
#Used for data that shouldn't change.
#Supports indexing and slicing.

    
#3. Dictionaries
# A dictionary in Python is an unordered, mutable collection of key-value pairs.
#Description: Unordered collections of key-value pairs.
#Syntax: my_dict = {"name": "John", "age": 30, "city": "New York"}
#Key Features:
#Keys are unique and immutable; values can be of any type.
#Methods: get(), keys(), values(), update(), pop(), etc.


#4. Sets
#Description: Unordered collections of unique items.
#Syntax: my_set = {1, 2, 3, 4}
#Key Features:
#No duplicate values.
#Useful for operations like union, intersection, and difference.
#Methods: add(), remove(), union(), intersection(), etc.

In [14]:
# Building an application which records a customer's detail and assign it a unique user id number generated randomly.

In [ ]:
#We would ask the user for his name and mobile number
name= input("What's your name ")
number= input("What's your number ")

What's your name A
What's your number 98

In [ ]:
from random import seed
from random import randint

# generate a three digit random integers for user id
value = randint(100, 999)
print(value)

682

In [ ]:
#Now if I want to store these values together I can create a list data type
name= input("What's your name ")
number= input("What's your number ")
value = randint(100, 999)
#Creating a list

<h1 style="color:Brown"> Lists </h1>

- Lists are an ordered sequence of mixed data types.
- Lists are written as comma-separated  elements within square brackets

Hmm, that works. But what if I would like to add some security and make user id un-changeable or as we call it in programming - immutable, in that case, we'll use a tuple.

<h1 style="color:Brown"> Tuples </h1>

- Tuples are an ordered sequence of mixed data types.
- Tuples are written as comma-separated  elements within parenthesis

In [ ]:
t = ("disco", 12, 4.5)
t

('disco', 12, 4.5)

In [ ]:
type(t)

tuple

<h3> Tuples can be defined is various ways </h3>

#### A tuple can be defined without using parenthesis

In [26]:
sample_tuple = (1)
print(sample_tuple)

1

#### Single value tuple

In [28]:
sample_tuple = 1,2,3,4  
print(sample_tuple)

(1, 2, 3, 4)

In [ ]:
sample_tuple = (1,)  
print(sample_tuple)

In [ ]:
sample_tuple1 = 1   # This is not a tuple

In [ ]:
sample_tuple2 = (1) # This is not a tuple

### Indexing in tuples

In [ ]:
t = ("Mumbai", 84, "Python",)

In [ ]:
# gives the element at index location 1
t[1]

In [ ]:
# gives the last element from tuple
t[-1]

### Slicing

In [31]:
# Slicing first 3 elements from t

t = ("Seattle", 84, "Python", 5, 2, 1)

t[0:3]

('Seattle', 84, 'Python')

In [33]:
# Slicing last 2 elements from t

t = ("Seattle", 84, "Python", 5, 2, 1)

t[-2:]

(2, 1)

In [35]:
# no. of elements in tuple t
t = ("Seattle", 84, "Python", 5, 2, 1)
len(t)

6

#### Cancatenating tuples

In [37]:
tup1 = ("This", "is", "Session", 2)
tup2 = ("on", "Tuples")

# Adding contents of tup2 to tup1 and storing in tup3

tup3 = tup1 + tup2

tup3

('This', 'is', 'Session', 2, 'on', 'Tuples')

#### sum() - min() - max()

In [39]:
t = (2, 4, 3, 5, 7)
sum(t)

21

In [41]:
t = (2, 4, 3, 5, 7)
min(t)

2

In [43]:
t = (2, 4, 3, 5, 7)
max(t)

7

### Immutability of tuples

In [49]:
t = ("USA", 4, 3, "Disco", 7.5, 4.5)

t[3] = "Hard Rock"

TypeError: 'tuple' object does not support item assignment

In [51]:
new_t = t[0:3] + ("Hard Rock",) + t[4:]
new_t

('USA', 4, 3, 'Hard Rock', 7.5, 4.5)

### Sorting a tuple

In [ ]:
t = (2,3,6,4,8,5)

sorted(t)

In [ ]:
x = sorted(t)

tuple(x)

In [ ]:
# Nested Tuples

t = (1,5,"Disco", ("Python", "Java"))

# Access "Java" from the nested tuple
t[3][1]

### Packing and Unpacking In Tuples

In [57]:
t = (1,2,3,4)     # Packing 
(a,b,c,d) = t     # Unpacking 
print (d)

# Packing multiple values into a tuple
packed_tuple = 1, 2, 3, 4
print(packed_tuple)  # Output: (1, 2, 3, 4)

# Unpacking a tuple into variables
packed_tuple = (10, 20, 30)
a, b, c = packed_tuple

print(a)  # Output: 10
print(b)  # Output: 20
print(c)  # Output: 30

4
(1, 2, 3, 4)
10
20
30

#### dir() - to view the attributes or methods of an object

In [59]:
t = ()
print(dir(t))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

<h1 style="color:Brown"> Lists </h1>

- Lists are an ordered sequnce of mixed data types.
- Lists are written as comma-separated  elements within square brackets

In [63]:
L = ["USA", 23, 6, "New York"]

L

['USA', 23, 6, 'New York']

In [61]:
# Nested List - list inside list
L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson')]

In [67]:
# Indexing
L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L[0]

'Chemistry'

In [69]:
L[-3]

'Biology'

In [71]:
L[-1][-1]

'Pearson'

In [73]:
# Slicing

L[0:3]

['Chemistry', 'Biology', [1989, 2004]]

In [75]:
#Membership in Lists

L1 = [1,2,3,4]
print(1 in L1)  # True
print (8 not in L1)  # True

True
True

In [137]:
# List Concatanetion - Adding Strings
#Method1:
L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
new_L = L + [5, 8]
new_L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson'), 5, 8]

In [93]:
# List Concatanetion
# Method 2 - using extend() keyword
# Adds all elements of an iterable (e.g., another list) to the end of the list.
L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
L.extend([5, 8])
L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson'), 5, 8]

In [139]:
# Replace "Biology" with "Physics" (not by keyword , but manually)

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L[1] = "Physics"

L

['Chemistry', 'Physics', [1989, 2004], ('Oreily', 'Pearson')]

In [95]:
# append() - Adds an item to the end of the list.

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
L.append([5, 8])
L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson'), [5, 8]]

In [ ]:
# del Command - Deletes the item from the list(using item indexes).
#Syntaxes:
#del list[index] 
#del list[start:end]   # To delete a range of items
#del list    #To delete the entire list
L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
del L[0]
L

['Biology', [1989, 2004], ('Oreily', 'Pearson')]

In [ ]:
del L[0:2]

L

[('Oreily', 'Pearson')]

In [99]:
# pop() - 
#Syntax: list.pop([index])
# index (optional): The position of the element you want to remove and return. 
#If no index is provided, pop() removes and returns the last element of the list.

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L.pop(1)

L

['Chemistry', [1989, 2004], ('Oreily', 'Pearson')]

In [101]:
# remove()
# Syntax: list.remove("list_value")
# The remove() method is used to remove the first occurrence of a specified value from the list.
# Unlike pop(),which removes an element by index, 
#remove() removes an element by its value.

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
L.remove("Chemistry")
L

['Biology', [1989, 2004], ('Oreily', 'Pearson')]

In [ ]:
# Differences between pop(), remove() and del 

#The pop(), remove(), and del statements are all used to remove elements from a list,
#but they differ in how they operate and their use cases. Here's a breakdown of the differences:

#1. pop()
#Removes: Its a method used to remove an element from the list based on its index.
#Returns: The removed element.
#Default Behavior: If no index is provided, pop() removes and returns the last element of the list.
# cannot use pop() to remove an entire list at a time like del cmd, instead deletes the item one by one from the last item of the list.
#Raises Error: If the index is out of range (for example, when trying to pop from an empty list).


#2. remove()
#Removes: The first occurrence of the specified value (not an index).
#Does Not Return: It does not return the removed element, it just removes it.
#Raises Error: If the value is not found in the list, a ValueError is raised.


#3. del
# Its is a command
#Removes: An element from the list based on its index or a slice of indices.
#Does Not Return: Like remove(), it does not return the removed element(s).
#Can Delete a Range or Entire List: You can also use del to remove multiple elements or even the entire list.
#Raises Error: If the index is out of range, a IndexError is raised.

In [134]:
# Sorting Lists
#Sorting lists in Python can be done in multiple ways, depending on whether you want to sort the list in place or create a new sorted list. 
#Python provides several methods and functions for sorting.

#1. sort() Method
#The sort() method sorts the list in place, modifies the original list. By default, it sorts the list in ascending order.
#You can also sort in descending order or provide a custom sorting function.
# The sort() function changes the original sorted list.
#the sort() method does not return anything. 
#It sorts the list in place and modifies the original list, but it does not return a new list. Instead, it returns None.

# 2. sorted() Method
#  a new sorted list is created by  keeping the original list unchanged.
# Return a value to the new list

In [141]:
# Sorting Lists
# sorts list in Ascending order
l = [32, 24, 65, 9, 9]
l.sort()
l

[9, 9, 24, 32, 65]

In [115]:
# Sorting Lists
# sorts list in Descending order
l.sort(reverse= True)
l

[65, 32, 24, 9]

#### Difference between sort and sorted

In [ ]:
A = ["Orange", "Strawberry", "Mango"]
B = A.sort() # Changes the original list and does not return a new list. Instead, it returns None. 
print(A)
print(B)

['Mango', 'Orange', 'Strawberry']
None

In [ ]:
A = ["Orange", "Strawberry", "Mango"]
C = sorted(A) 

print(A) # 
print(C) # a new sorted list is created by  keeping the original list unchanged.

['Orange', 'Strawberry', 'Mango']
['Mango', 'Orange', 'Strawberry']

#### Shadow Copying 
- Shadow copying in Python refers to creating a new object that is a copy of the original object, but with references to the same objects inside it, rather than duplicating the inner objects themselves. 
- Shallow copy gives you a new list, but the items inside the list are still shared.
- If you change the things inside, it affects both the original and the copied box.

In [130]:
A = ["Orange", "Strawberry", "Mango"]
B = A
print(B)
A[0] = "Apple"
print(A)

['Orange', 'Strawberry', 'Mango']
['Apple', 'Strawberry', 'Mango']

In [ ]:
A

['Apple', 'Strawberry', 'Mango']

In [ ]:
B

['Apple', 'Strawberry', 'Mango']

In [1]:
A = ["Orange", "Strawberry", "Mango"]
B = A[:]    
#Note 'A[:]' is used to call all the values stored in A
#Now B has all the values of A but isn't a shadow copy of A
#Shadow copy is basically assigning multiple labels to a single reference point or memory location

A[0] = "Apple"

In [3]:
A

['Apple', 'Strawberry', 'Mango']

In [ ]:
B

['Orange', 'Strawberry', 'Mango']

Now that we know how to store multiple items together let us build another app that could store userid of our customers, which were randomly generated.

We have the following requirements from the app -
1. It shouldn't store duplicate values in the data-set
2. Since the userid are randomly generated the order doesn't matter
3. We need mutability i.e. if we want to delete a particular value we should be able to do so
4. We might frequently want to check whether a user-id is part of the existing data set so it should be able to perform this operation fast

For this use case, we could either use a unique function and maintain our list, but that would be comparatively time-consuming, so let's look at another data type provided by Python, which would be the best fit here.

<h1 style="color:Brown"> Sets </h1>

- Sets are a type of collection like lists and tuples, storing mixed data.
- Sets are enclosed within curly brackets and elements are written as comma-separated.
- Sets are unordered
- Sets do not allow duplicates
- Mutable
- No Indexing: You cannot access elements in a set by index
- Fast Membership Testing

In [153]:
#Set Methods()
#add(): Adds an element to the set.
my_set = {1, 2, 3, 4}
my_set.add(5)  # Adds 5 to the set
print(my_set)  # Output: {1, 2, 3, 4, 5}

#remove(): Removes an element from the set. If the element is not found, it raises a KeyError.
my_set.remove(3)  # Removes 3(value) from the set 
print(my_set)  # Output: {1, 2, 4, 5}

#discard(): Removes an element from the set, but if the element is not found, it does not raise an error.
my_set.discard(6)  # Does nothing as 6 is not in the set
print(my_set)  # Output: {1, 2, 4, 5}

#pop(): Removes and returns an arbitrary element from the set. Since sets are unordered, you can't predict which element will be removed.
removed_element = my_set.pop()  # Removes an arbitrary element
print(f"Removed element: {removed_element}")
print(my_set)  # Output: {remaining elements after pop}

#clear(): Removes all elements from the set.
my_set.clear()  # Clears the set
print(my_set)  # Output: set()

{1, 2, 3, 4, 5}
{1, 2, 4, 5}
{1, 2, 4, 5}
Removed element: 1
{2, 4, 5}
set()

In [155]:
l = [1,3,2,4,5,5]

set_l = set(l) # removes duplicates and sorts in ascending order

set_l

{1, 2, 3, 4, 5}

In [157]:
len(set_l)

5

In [145]:
a = {1, 2, 3, 4, 5}

a.add("Australia")

a

{1, 2, 3, 4, 5, 'Australia'}

In [ ]:
a = {1, 2, 3, 4, 5, "Australia"}
a.remove("Australia")
a

{1, 2, 3, 4, 5}

In [161]:
#Set Operations:
#You can perform various operations on sets such as union, intersection, difference, and symmetric difference.

In [177]:
# Set Operations

A = {0, 2, 4, 6, 8}
B = {1, 2, 3, 4, 5}

In [ ]:
#Union (|): Combines elements from two sets, keeping only unique elements.
print(A | B) # Union
print (A.union(B))

{0, 1, 2, 3, 4, 5, 6, 8}
{0, 1, 2, 3, 4, 5, 6, 8}

In [ ]:
#Intersection (&): Finds common elements between two sets.
print(A & B) # Intersection
print(A.intersection(B))

{2, 4}
{2, 4}

In [183]:
#Difference (-): Finds elements in the first set that are not in the second set.
set_A = set(A) # convets list into set
set_B = set(B) #  # convets list into set
print(set_A - set_B) # Difference
print(set_A.difference(set_B))  # only A elements
# Both A - B and A.difference(B) will give the same result in Python,as they perform the same operation: finding elements that are in set A but not in set B

{0, 8, 6}
{0, 8, 6}

In [185]:
#Symmetric Difference (^): Finds elements that are in either set, but not both.
print(A ^ B) # Symmetric Difference

{0, 1, 3, 5, 6, 8}

<h1 style="color:Brown"> Dictionaries </h1>

- A dictionary stores element as keys and values pairs.
- The key is like an index, it's is always unique and immutable. 
- The values are the objects that contain information.
- Values are accessed using their keys.
- Each key is followed by a value separated by a colon. 
- The values can be immutable, mutable, and duplicates. 
- Each key and value pair is separated by a comma enclosed inside curly brackets.
- Uses Key-value pair to access the item
- The sort() method does not work on dictionaries because dictionaries are unordered collections

In [ ]:
# Creating a dictionary

d = {"India" : "INR", "USA" : "USD", "France" : "Euros"}

# Access value using keys

d["USA"]

'USD'

In [ ]:
# Replace the value for a key in a dictionary

d["USA"] = "$"

d

{'France': 'Euros', 'India': 'INR', 'USA': '$'}

In [ ]:
# Insert new key value pair into a dictionary

d["Japan"] = "Yen"

d

{'France': 'Euros', 'India': 'INR', 'Japan': 'Yen', 'USA': '$'}

In [ ]:
# Deleting a key value pair

del d["France"]

d

{'India': 'INR', 'Japan': 'Yen', 'USA': '$'}

In [ ]:
# Sorting a dictionary

sorted(d)

['India', 'Japan', 'USA']

In [ ]:
# values() Method

d = {"India" : "INR", "USA" : "USD", "France" : "Euros"}

d.values() # Gives values of all keys in list

dict_values(['INR', 'USD', 'Euros'])

In [ ]:
# Keys() Method

d.keys() # gives all keys in list

dict_keys(['India', 'USA', 'France'])

In [ ]:
# Update() Method

d.update({'USA':'$'})
d

{'France': 'Euros', 'India': 'INR', 'USA': '$'}